*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', 'Open Sans', 'Be Vietnam' sans-serif;
}
p,h2,a{
    line-height: 1.5;
    text-align: center;
    font-weight: normal;
}

a{
    text-decoration: none;
    list-style: none;

}

/** header **/
header a{
    color: #5e5e5e;
}
.logo{
    display: block;
    text-align: center;
    padding: 15px;
    font-size: 1.4em;
}
ul{
    text-align: center;
   
}
li{
    display: inline-block;
    margin: 10px;
    
}
/** header ends **/

/** who section **/
#who .container{
    background-color: #1abc9c;
    min-height: 600px;
}
#who h2{
    color:#fff;
    font-weight: normal;
    padding: 60px;
}
#who img{
    border-radius: 50%;
    display: block;
    margin: auto;
    width: 85%;
    
}
/** who section ends **/

/** what section **/
#what .container{
    background-color: #474e5d;
    min-height: 500px;
    color: #fff;
}
#what h2{
    padding: 60px;
    
}
#what p{
    width: 85%;
    margin: auto;
    font-size: 1.1em;
}
.btn{
    background-color: #fff;
    width: 35%;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin:  20px auto;
}
.btn a{
    color: #474e5d;
    font-size: 1.6em;
    font-weight: normal;
}
/** what section ends **/
#where .container{
    color: #777;
}
#where h2{
    padding: 60px;
}
#where p{
    width: 85%;
    margin: 20px auto;
    font-size: 1.1em;
}
#where img{
    display: block;
    width: 90%;
    margin: auto;
}
#where img:last-child{
    margin-bottom: 80px;
}
/** where section ends **/

/** footer **/
footer{
    background-color: #2f2f2f;
    min-height: 150px;
    text-align: center;
    color: #fff;
    
}
footer p{
    display: block;
    padding: 50px;
    width: 100%;
    margin: auto;
}
footer a{
    color: #337ab7;
    font-size: 1.2em;
}

/** media queries **/

/** media query for 425px **/
@media only screen and (min-width: 426px) {
    
    #who img{
        width: 60%;
    }
    #where img{
        width: 65%;
    }
}

/** media query for 768px **/
@media only screen and (min-width: 768px){
    header .container{
        display: flex;
        justify-content: space-between;
    }
    li{
        margin: 20px;
    }
    #who img{
        width: 50%;
    }
    .btn{
        width: 15%;
    }
    #what .container{
        min-height: 400px;
    }
    #where img{
        width: 40%;
    }
}
   
/** media query for 1024 px **/
@media only screen and (min-width:1024px){
    #who img{
        width: 40%;
    }
    #where .imgs{
        display: flex;
        width: 90%;
        margin: auto;
    
    }
    #where img{
        width: 90%;
        height: 300px;
    }
}

/** media query for 1440px **/
@media only screen and (min-width:1440px){
    #who img{
        width: 20%;
    }
    #what p{
        width: 60%;
    }
    .btn{
        width: 10%;
    }
    #where .imgs{
        display: flex;
        width: 70%;
        margin: auto;
    
    }
    #where img{
        width: 90%;
        height: 250px;
    }
}